<h1>{{headerTitle}} {{fullName}}</h1>
{{#formFor model}}
  {{input firstName}}
  {{input lastName}}
  {{input quote}}
{{/formFor}}
<div class='page-header'></div>

<a href='#' {{action cancel target='controller'}} class='btn btn-inverse'>Cancel</a>
